video {
    display: $video-display;
    max-width: $video-max-width;
    vertical-align: $video-vertical-align;
    @if mixin-exists(video-extra-style) {
        @include video-extra-style();
    }
}