$video-display: inline-block !default;
$video-max-width: 100% !default;
$video-vertical-align: baseline !default;
//@mixin video-extra-style() {} //Create this mixin before import module when you want add some special style for element